/*
    --lggreen: #05483F;
    --lgyellow: #D68029;
    --lgred: #7F0423;
*/

#finderWrap {
    margin-top: 5px;
}

#targetid {
    box-sizing: border-box;
    opacity: 50%;
    background-color: #18181b;
    border-radius:6px;
    color: #efeff1;
    font-size:18px;
    padding-left: 5px;
    height: 100%;
    width: 12%;
}

#ind {
    display: inline;
}

#infodiv{
    padding-left: 10px;
    display: inline;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #efeff1;
}

#submitb {
    width: 20px;
    display: inline;
    margin-left: 5px;
}

#topd {
    padding: 5px;
    padding-top: 1rem;
    max-height: initial;
    height: 50%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

#botd {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    min-height: initial;
    height: 50%;
    width: 100%;
    position: relative;
}

.ce {
    display: inline-block;
    height: 100%;
    margin-right: .5%;
    border-radius:6px;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    align-items: center;
    margin-bottom:  .5%;
    cursor: pointer;
    text-align: center;
}
.ce[data-title]:after{
    content: attr(data-title);
    font-family: 'Roboto', sans-serif;
    font-size: 0px;
    font-weight: bold;
    transition: .15s;
    color: #efeff1;
}

.ce[data-title].active:after{
    font-size: 15px;
  }

.ce[data-title3]:before{
    content: attr(data-title3);
    font-family: 'Roboto', sans-serif;
    color: #efeff1;
    font-size: 0px;
    font-weight: bold;
    transition: .15s;
}
.ce[data-title3].active:before {
    font-size: 15px;
}

.plink {
    color: #efeff1;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.plink.active{
    color: #ff6700;
}

.clink{
    font-size:0rem;
    position: relative;
    left: -10px;
}
.clink.active{
    font-size: 1.75rem;
    cursor: pointer;
    display: inline-block;
    margin-bottom: .5%;
}

#expressvod {
    box-sizing: border-box;
    opacity: 50%;
    background-color: #18181b;
    border-radius:6px;
    color: #efeff1;
    font-size:12px;
    padding-left: 5px;
    height: 50%;
    width: 25%;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-wrap: nowrap !important;
}